.bon{
    padding: 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 100px;
}
.pic{
    background-image: url("./maths.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.bor{
    border-radius: 30px;
    border: 10px groove black;
    background-image: linear-gradient(white,grey);
}