.box1{
    border-radius: 30px;
    border-top:7px solid red;
}
.box2{
    border-radius: 30px;
    border-top:7px solid blue;
}
.box3{
    border-radius: 30px;
    border-top:7px solid green;
}
.box4{
    border-radius: 30px;
    border-top:7px solid yellow;
}